/* =-=-=-=-=-=-= Common CSS =-=-=-=-=-=-= */
* {
	margin: 0;
	padding: 0;
}

/*body{
	font-family: 'Lato', sans-serif;
}*/

img{
	width: 100%;
	height: auto;
}

a:hover{
	text-decoration: none;
}

li{
	list-style: none;
}

/* =-=-=-=-=-=-= Header CSS =-=-=-=-=-=-= */

.as-header{
	background-color: #ffffff;
	padding: 15px 0;
}

.as-menu{
	margin-left: 300px;
}

.as-menu ul li a{
	color: #000000;
	font-family: 'Oswald', sans-serif;
	padding: 10px 20px;
	display: block;
	text-transform: capitalize;
	font-weight: 700;
	transition: .5s;
}

.as-menu ul li a:hover{
	color: #f62e2a;
}

/* =-=-=-=-=-=-= Banner CSS =-=-=-=-=-=-= */

.as-banner{
	background-image: url('img/01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 200px 0 200px;
}

.as-banner-text{}

.as-banner-text h1{
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 700;
	padding-bottom: 30px;
}

.as-banner-text span{
	color: #fff;
	display: inline-block;
}

/* =-=-=-=-=-=-= About CSS =-=-=-=-=-=-= */

.as-about{
	background-color: #ffffff;
	padding: 50px 0;
}

.container{
	display: flex;
}

.as-sec-title{
	display: flex;
}

.as-sec-title h1{
	font-size: 50px;
	font-weight: 700;
}

.as-sec-title h1:nth-child(1) {
	color: #f62e2a;
	padding-right: 10px;
}

.as-about-content{
	width: 550px;
	margin-right: 70px;
	margin-bottom: 40px;
}

.as-sec-button a{
	color: #fff;
	background-color: #f62e2a;
	padding: 11px 11px;
	font-weight: 700;
}

/* =-=-=-=-=-=-= Service CSS =-=-=-=-=-=-= */

.as-service {
	background-color: #f4f4f4;
	padding: 80px 0;
}

.first {
	display: block;
}

.as-ser-head {
	width: 100%;
	padding-bottom: 25px;
}

.as-ser-head-one{
	display: flex;
	overflow: hidden;
}

.as-ser-head-one h1{
	font-size: 50px;
	font-weight: 700;
}

.as-ser-head-one h1:nth-child(1) {
	color: #f62e2a;
	padding-right: 10px;
}

.as-ser-head-two {
	text-align: center;
}

.as-ser-content{
	text-align: center;
	background-color: #ffffff;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	border-radius: 20px;
	margin-bottom: 30px;
}

.as-ser-icon{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.as-ser-icon i{
	font-size: 70px;
}

.as-ser-text h4{
	color: #f62e2a;
	margin-bottom: 30px;
	font-weight: 700;
}

.as-ser-content:hover h4{
	color: #ffffff;
}

.as-ser-content:hover {
	background-color: #f62e2a;
	color: #ffffff;
}

.as-ser-text p{
	font-size: 15px;
}

/* =-=-=-=-=-=-= Letest Work CSS =-=-=-=-=-=-= */

.as-let-work{
	padding: 80px 0;
}

.as-let-img{
	position: relative;
	margin-bottom: 30px;
}

.as-let-overlay{
	background-color: rgba(254, 49, 56, .9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s;
}

.as-let-content{
	text-align: center;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.as-let-icon{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.as-let-text h4{
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 700;
}

.as-let-text p{
	color: #ffffff;
}

.as-let-img:hover .as-let-overlay {
	opacity: 1;
}

/* =-=-=-=-=-=-= Our Pricing CSS =-=-=-=-=-=-= */

.as-pricing {
	background-color: #f4f4f4;
	padding: 80px 0;
}

.first {
	display: block;
}

.as-pri-head {
	width: 100%;
	padding-bottom: 25px;
}

.as-pri-head{
	display: flex;
	overflow: hidden;
}

.as-pri-head h1{
	font-size: 50px;
	font-weight: 700;
}

.as-pri-head h1:nth-child(1) {
	color: #f62e2a;
	padding-right: 10px;
}

.as-pri-content{
	text-align: center;
	background-color: #ffffff;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin-bottom: 30px;
	font-weight: 700;
	border: 2px solid #e4ded6;
}

.con-first , .con-third {
	margin-top: 20px;
}

.as-pri-content p {
	padding-bottom: 30px;
	border-bottom: 1px solid #000000;
	margin-bottom: 50px;
}

.as-pri-content ul li {
	font-size: 30px;
}

.as-pri-content ul li:nth-child(3) {
	margin-bottom: 80px;
}

.as-ser-content-btn a{
	color: #000000;
	padding: 15px 40px;
	font-size: 20px;
	font-weight: 700;
	border: 2px solid #f62e2a;
	border-radius: 5px;
}

.as-ser-content-btn a:hover {
	color: #fff;
	background-color: #f62e2a;
}

/* =-=-=-=-=-=-= Our Team CSS =-=-=-=-=-=-= */

.as-team{
	padding: 80px 0;
}

.as-team-img{
	position: relative;
	margin-bottom: 30px;
}

.as-team-overlay{
	background-color: rgba(254, 49, 56, .9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s;
	border-radius: 8px;
}

.as-team-content{
	text-align: center;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	margin-bottom: 30px;

	font-size: 15px;
}

.as-team-text h4{
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 700;
}

.as-team-text i {
	color: #ffffff;
	font-size: 20px;
	height: 20px
	padding: 0 30px;
}

.as-team-img:hover .as-team-overlay {
	opacity: 1;
}

/* =-=-=-=-=-=-= Contact CSS =-=-=-=-=-=-= */

.as-contact-form .f-one {
	display: flex;
}

.as-contact {
	background-image: url('img/13.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.as-contact-form .form-group input {
	width: 350px;
}

..as-contact-form .form-group input:nth-child(1){
	margin: 0;
}

.as-contact-form .form-group h4,
.as-contact-form .form-group input:nth-child(2) {
	margin: 0 11px;
}

.as-contact-form .form-group input,
.as-contact-form .form-group textarea {
	background-color: transparent;
	border: 1px solid #f62e2a;
}

.as-form-bottom {
	overflow: hidden;
}

.as-form-left {
	float: left;
}

.as-form-left input {
	margin-right: 10px;
}

.as-form-left label {
	font-weight: 700;
}

.as-form-right {
	float: right;
}

.as-form-right input {
	background-color: transparent;
	padding: 5px 50px;
	border: 1px solid #f62e2a;
	transition: .5s;
}

.as-form-right input:hover {
	background-color: #f62e2a;
}

/* =-=-=-=-=-=-= Footer CSS =-=-=-=-=-=-= */

.as-footer {
	padding: 12px 0;
	background-color: #f62e2a;
	color: #fff;

}